export APP_PORT=8080
export API_HOST="http://localhost:${APP_PORT}"

export DB_HOST=localhost
export DB_PORT=3306
export DB_USER=root
export DB_PASSWORD=mysqladmin
export DB_NAME=gotodoapi

export STORAGE_DRIVER=s3

export STORAGE_PATH="${PWD}/internal/adapter/storage/local/bucket"
export LOCAL_STORAGE_DOWNLOAD_PREFIX_URL="${API_HOST}/api/objects"

export S3_BUCKET_NAME=pondokit-ibo-soften-prompt-disturb-offense-9